#Lazarus Backup Directories
backup
backup/*
#Lazarus Session Storage File
*.lps

#Build Directories
lib
lib/*

#Build Files
Makefile

#Compiled Application 
*.run
#Debug Version of the Application
*.dbg

#Runtime Log Files
*.log
**/*.log
