#Lazarus Backup Directories
backup
backup/*
#Lazarus Session Storage File
*.lps

#Build Directories
lib
lib/*
units
units/*

#Build Files
demohashlists
fpcmade*
Makefile
Makefile.fpc

#Compiled Application 
*.run
#Debug Version of the Application
*.dbg

#Runtime Log Files
*.log
**/*.log
fptest.ini
